.img1{
    width: 300px;
    height:300px;
    object-fit:contain;
}
.bg2{
    background-color:var(--bs-primary-bg-subtle);
}
.c2{
    padding-bottom:30px;
    padding-top:30px;
}
.navbar{
    background-color:var(--bs-warning-bg-subtle)
}
.bg3{
    background-color:var(--bs-warning-bg-subtle);
}
.carousel-item img{
    height:500px;
    width:400px;
    object-fit:cover;
}
#carouselExampleFade{
    max-width:1320px;
    margin:0 auto;
}
.carousel{
    border-radius:12px;
    overflow:hidden;
}
#gallery-lightbox img{
    height:350px;
    object-fit:cover;
    cursor:pointer;
}
